
<head>
  <title> Music Sheet Crawler</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body style="padding: 25px 100px 75px 100px; text-align:center">
	<h1>Get PDF Music Sheet from <a target="_blank" href='http://m.hqgq.com/gangqinpu.html'>m.hqgq.com</a> !</h1>
	<div class="container" >

		<form action="/" method="POST" class="w3-container w3-card-4" style="padding: 50px">
			<input type="text" name="crawl_url" class="w3-input w3-border" placeholder="Paste your URL here (e.g. http://m.hqgq.com/qinpu/51610.html)" /><br>
			<input type="submit" class="w3-btn w3-blue" style="float:right" value = "Get Music Score!"/>
		</form>

	</div>
</body>
